@charset "UTF-8";
@font-face {font-family: 'Nanum Gothic'; src: url('../font/NanumBarunGothic.ttf') }
@font-face {font-family: 'Nanum Gothic Light'; src: url('../font/NanumBarunGothicLight.ttf')}
@font-face {font-family: 'Nanum Gothic Bold'; src: url('../font/NanumBarunGothicBold.ttf')}
@font-face {font-family: 'Nanum Gothic Ultra Light';src: url('../font/NanumBarunGothicUltraLight.ttf')}


* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #F5F5F5;
	font-family: 'Nanum Gothic Light';
}

section {
	width: 1000px;
	heigth: 100%;
	padding: 30px;
	margin: 80px auto;
}

section h1{
	margin-bottom: 50px;
	font-family: 'Nanum Gothic Bold';	
}

h1 a{
	text-decoration: none;
	color : black;
}

/* 테이블 */
#board {
	border-collapse : collapse;
	width: 900px;
}

#board th,td{
	text-align: left;
}

#board tr, td{
	padding-top : 10px;
	padding-bottom : 10px;
}

#board tr:first-child{
	font-family: 'Nanum Gothic';
	text-align: left;
}

#board tr:nth-child(2){
	border-bottom: 1px solid gray;
}

#board tr:last-child{
	border-bottom : 1px solid gray;
}


#viewer{
	padding-top : 40px;
	padding-bottom : 40px;
}

input[type="button"]{
	border: 1px solid #999;
	appearance: none;
	padding : 5px 5px;
}



/* 댓글 */
#listReply{
	width : 100%;
	height : 100%;
}

#listReply table{
	width: 900px;
	border-collapse : collapse;
}

#listReply table textarea{
	resize : none;
	padding : 5px;
	overflow-x : hidden;
	overflow-y : auto;
}

#listReply table td:first-child{
	width : 100px;
}

/* 댓글 작성 */
#replyBoard textarea{
	resize : none;
	padding : 5px;
	overflow-x : hidden;
	overflow-y : auto;
}

#replyBoard th{
	width : 100px;
}