@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #F5F5F5;
}

section {
	width: 1000px;
	heigth: 100%;
	padding: 30px;
	margin: 80px auto;
	border : 1px solid blue;
}


hr{
	margin-top : 10px;
	margin-bottom: 10px;
}

table {
	border-collapse: collapse;
	width: 900px;
	border : 1px solid red;
}


th,td{
	padding : 5px;
	border : 1px dotted red;
}

#viewer{
	height : 400px;
	padding : 40px;
}

