<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MediLockerRegist">
	
	<select id="selectList" parameterType="String" resultType="MediLockerDto">
		SELECT MEMBER_ID, PRES_NO, PRES_MEDINAME, PRES_DATE, PRES_VIEW, PRES_NAME, PRES_MEDINAMEADD FROM AG_PRESCRIPTION WHERE MEMBER_ID = #{member_id} ORDER BY PRES_DATE DESC
	</select>
	<select id="selectOne" resultType="MediLockerDto">
		SELECT PRES_MEDINAMEADD FROM AG_PRESCRIPTION 
	</select>
	<insert id="insert" parameterType="MediLockerDto">
		INSERT INTO AG_PRESCRIPTION VALUES(#{member_id}, AG_PRES_SEQ.NEXTVAL, #{pres_mediname}, SYSDATE, 'IMAGE', 'TEST', 'TEST' )
	</insert>
	<update id="update" parameterType="MediLockerDto">
		UPDATE AG_PRESCRIPTION SET PRES_MEDINAME = #{pres_mediname}||#{pres_medinameadd} WHERE PRES_MEDINAME = #{pres_mediname}
	</update>
	
	<delete id="delete" parameterType="int" >
		DELETE FROM AG_PRESCRIPTION WHERE PRES_NO = #{pres_no}
	</delete>
</mapper>
