<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agenda.login.LoginMapper">
 
<resultMap type="logindto" id="Logindto">

	<id     property = "member_id" column ="MEMBER_ID"/>
	<result property = "member_pw" column= "MEMBER_PW"/>
	<result property = "member_name" column="MEMBER_NAME" />
	<result property = "member_email" column="MEMBER_EMAIL"/>
	<result property = "member_addr" column="MEMBER_ADDR"/>
	<result property = "member_phone" column="MEMBER_ PHONE"/>
	<result property = "member_enabled" column="MEMBER_ENABLED"/>
	<result property = "member_role" column="MEMBER_ROLE"/>
	<result property = "member_token" column="MEMBER_TOKEN"/>
	<result property = "member_salt" column="MEMBER_SALT"/>
	
</resultMap>


<!-- login sql문 작성  -->

<select id="login" parameterType="loginDto" resultType="logindto" >

	SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_EMAIL,
		   MEMBER_ADDR, MEMBER_PHONE, MEMBER_ENABLED, MEMBER_ROLE, MEMBER_TOKEN, MEMBER_SALT
	FROM   AG_MEMBER 
	WHERE  MEMBER_ID = #{member_id}
	AND    MEMBER_PW = #{member_pw}
	AND    MEMBER_ENABLED = 'N'
</select>

<select id ="naverlogin" parameterType="loginDto" resultType="logindto" >
	
	SELECT MEMBER_ID, MEMBER_NAME , MEMBER_EMAIL
	FROM   AG_MEMBER
	WHERE  MEMBER_ID = #{member_id}
	AND    MEMBER_PW = #{member_pw}
	
</select>

<select id="kakaologin" parameterType="loginDto" resultType="logindto">
	
	SELECT MEMBER_ID, MEMBER_PW, MEMBER_NAME
	FROM   AG_MEMBER
	WHERE  MEMBER_ID = #{member_id}
	AND    MEMBER_PW = #{member_pw}
</select>

<select id ="findId" parameterType="loginDto" resultType="logindto">

	SELECT MEMBER_ID
	FROM AG_MEMBER
	WHERE MEMBER_NAME=#{member_name}
	AND MEMBER_EMAIL=#{member_email}
	
</select>

<!--id입력시 salt값이 나옴-->
<select id="saltId" parameterType="String" resultType="logindto">

	SELECT MEMBER_SALT
	FROM AG_MEMBER
	WHERE MEMBER_ID = #{member_id}
	
</select>

<select id="findPw" parameterType="loginDto" resultType="logindto">

	UPDATE AG_MEMBER
	SET MEMBER_PW = #{member_pw}	
	WHERE MEMBER_ID = #{member_id}
	AND MEMBER_NAME = #{member_name}
	AND MEMBER_EMAIL = #{member_email}

</select>


</mapper>


