@charset "UTF-8";

header{
	width: 100%;
	height: 50px;
	border: 1px solid red;
}

#LockerMainDiv{
	width : 100%;
	height : 100%;
	margin-top : 50px;
	display: flex;
	flex-direction: column;
	
}

#LockerThemeDiv{
	display: flex;
	flex-direction: row;
}

h2{
	font-size : 80px;
	text-align: center;	
}
#LockerSubDiv{
	display: flex;
	align-self: center;
}

#LockerSubDiv > div{
	width: 500px;	
	border: 1px solid;
	align-items: center;
}

#LockerListDiv{
	display: flex;
	flex-direction: column;
}

#LockerListDiv > div{
	width: 200px;
	border: 1px solid;
}