@charset "UTF-8";
@font-face {font-family: 'Nanum Gothic'; src: url('../font/NanumBarunGothic.ttf') }
@font-face {font-family: 'Nanum Gothic Light'; src: url('../font/NanumBarunGothicLight.ttf')}
@font-face {font-family: 'Nanum Gothic Bold'; src: url('../font/NanumBarunGothicBold.ttf')}
@font-face {font-family: 'Nanum Gothic Ultra Light';src: url('../font/NanumBarunGothicUltraLight.ttf')}

*{
	margin : 0;
	padding : 0;
}
body{
	background-color: #F5F5F5;
}
header{
	width: 100%;
	height: 50px;
}


#LockerMainDiv{
	display: flex;
	width : 100%;
	height : 100%;
	margin-top : 50px;
	flex-direction: column;
	align-content: center;
	
	
}

#LockerThemeDiv{
	display: flex;
	flex-direction: row;
	align-self: center;
	margin-top : 50px;
}

h2{
	font-size : 80px;
	text-align: center;
	font-family: 'Nanum Gothic Light';

}

button{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
}

#scanBtn{
	margin-top : 5px;
	margin-left : 30px;
	margin-bottom : 10px;
	padding: 10px;
	padding-left : 50px;
	padding-right: 50px;
}

#scheBtn{
	padding-left: 20px;
	padding-right: 20px;
}

.scanBtnC{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	margin-top : 5px;
	margin-left : 80px;
	margin-right : 80px;
	margin-bottom : 10px;
	padding: 10px;
}
input :hover{
	background : black;
	color : white;
}
input:focus {
	outline: none;
	}

.scanBtc :active{
	background-color: black;
	color: white;
}
#scanBtn :active{
	color: black;
	background-color: #F5F5F5;
}
#Locker2ndDiv{
	display: flex;
	align-self: center;
	margin-top: 50px;
	border: 1px solid;
	padding : 10px;
}

#Locker2ndDiv > div{
	align-items: center;
	width: 100%;
	text-align: center;
}

.Locker3rdDiv{
	display: flex;
	flex-direction: column;
}

.Locker3rdDiv > div{
	width: 600px;
}

.LockerListDiv{
	display: flex;
	justify-content: space-around;
}

.LockerListDiv > div{
	margin-top : 10px;
	margin-bottom : 10px;
	width : 100px;
}

.LockerDetailDiv{
	display: flex;
	flex-direction: column;
}

.LockerDetailDiv > div {
	margin-bottom : 38px;
}
#LLD > div{
	margin:10px;
}

.LockerListDiv > div > input{
	width : 100%;
}

#popUp{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background : gray;
	background-color :rgba(0,0,0,.5);
	top: 0;
	left: 0;
}

#subpopUp{
	position: absolute;
	display : flex;
	left: 50%;
	top : 40%;
	transform: translate(-50%, -50%);
	width: 400px;
	height : 300px;
	margin: 30px;
	border-radius : 10px;
	border-color : gold;
	background-color: #F5F5F5;
	flex-direction: column;
	justify-content: space-between;
}

#popUp2{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background : gray;
	background-color :rgba(0,0,0,.5);
	top: 0;
	left: 0;
}


#scanIng{
	position: absolute;
	display : flex;
	left: 50%;
	top : 40%;
	transform: translate(-50%, -50%);
	width: 400px;
	height : 300px;
	margin: 30px;
	border-radius : 10px;
	border-color : gold;
	background-color: #F5F5F5;

	
}
#4rdPop{
	background-color: dodgerblue;
}
#subpopUp > input {
	height: 100px;
}
#subpopUp > input{
	height: 100px;
}
#3rdpopUp {
	padding: 20px;	
}
.closeBtn{
	cursor: pointer;
	font-size: 50px;
	position: fixed;
	right: 5%;
}
.aboutScan{
	display: none;
	background: gray;
	background-color: (0,0,0,.5);
}



.listItem{
	border: 1px dotted;
	display: flex;
}

.listItem > div{
	margin: 10px;
	cursor: pointer;
}

#detailInfo{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background : lightgray;
	background-color :rgba(0,0,0,.5);
	top: 0;
	left: 0;
}

#detailSubInfo{
	position: absolute;
	display : flex;
	left: 50%;
	top : 40%;
	transform: translate(-50%, -50%);
	width: 400px;
	margin: 30px;
	background: white;
	flex-direction: column;
	justify-content: space-between;
}

#ITEM_IMAGE{
	width: 150px;
	height:150px;
	}
	
