* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 1;
}


/* 첫번째 */
.first {
	min-width: 100%;
	min-height: 100vh;
	background-color: whitesmoke;
	height: 100vh;
	overflow: hidden;
}

.text-wrap {
	width: 50%;
	padding-top: 130px;
}

.text:before {
	content: attr(data-text);
	position: absolute;
	top: 20px;
	left: -20px;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: none;
	filter: blur(4px);
	z-index: -1;
}

.text {
	position: relative;
	font-size: 4em;
	color: whitesmoke;
	letter-spacing: 3px;
	transform: rotate(-25deg) skew(25deg);
	margin-left: 80px;
}


.content-wrapper {
	position: absolute;
	width: 50%;
	height: 80vh;
	border-radius: 15px;
	top: 100px;
	right: 0px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	overflow: hidden;
}

.content {
	width: 100px;
	height: 100px;
	border-radius: 15px;
	transform: rotate(-25deg) skew(25deg);
	box-shadow: inset 6px 6px 12px #e1e1e1, inset -6px -6px 12px #ffffff;
}

.content img {
	transform: rotate(25deg) skew(-20deg);
	width: 120px;
	position: relative;
	bottom: 30px;
	left: 50px;
}

/* 두번째 */
.second {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	min-width: 100%;
	min-height: 100vh;
	background-color: whitesmoke;
	height: 100vh;
	overflow: hidden;
}

.second>p {
	font-size: 2em;
	margin-bottom: -100px;
}

.menu-wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 80%;
}

.menu-icon {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #f5f5f5;
	box-shadow: inset 6px 6px 12px #e1e1e1, inset -6px -6px 12px #ffffff;
	display: flex;
}

.menu-icon-inside {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: linear-gradient(145deg, #ffffff, #dddddd);
	box-shadow: 8px 8px 16px #cbcbcb, -8px -8px 16px #ffffff;
}

.description {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 150px;
	height: 200px;
	margin-top: 20px;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: 5px 5px 10px #e6e6e6, -5px -5px 10px #ffffff;
}

/* 세번째 */
.third {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
	overflow: hidden;
	background-color: whitesmoke;
}

.third>p {
	font-size: 2em;
}

.donation-wrapper {
	width: 80%;
	height: 300px;
	display: flex;
	margin-bottom: 30px;
	justify-content: space-around;
}

.donation-content {
	width: 200px;
	height: 300px;
	border-radius: 16px;
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eaeaea;
	box-shadow: 7px 7px 14px #d3d3d3, -7px -7px 14px #ffffff;
	cursor: pointer;
}

.donation-content-01 {
	width: 160px;
	height: 260px;
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.4);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/* 네번째 */
.fourth {
	height: 300vh;
	display: flex;
	background-color: whitesmoke;
}

.fourth-title {
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: gray;
}

.fourth-title h2 {
	border-top: 2px solid #f5f5f5;
	border-bottom: 2px solid #f5f5f5;
}

.fourth-pages {
	width: 50%;
}

.fourth-pages-text {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
}

.fourth-pages-text:last-child h2{
	padding : 5px 10px;
	border : 1px solid white;
}

.fourth-pages-text p {
	width: 80%;
	font-size: 1em;
	line-height: 30px;
	color: white;
}

.fourth-pages div:nth-child(1) {
	background-color: rgb(97, 97, 97);
}


.fourth-pages div:nth-child(2) {
	background-color: rgb(61, 61, 61);
}

.fourth-pages div:nth-child(3) {
	background-color: rgb(27, 27, 27);
}

/* 다섯번째  */
.contact {
	width: 100%;
	height: 100vh;
	background-image: url("");
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: whitesmoke;
}

.contact-title {
	font-size: 2em;
	font-weight: bolder;
	margin: 0 30px 0px 120px;
	animation : textanim 3s infinite alternate;
	z-index: 1000;
}

@keyframes textanim{
	0%, 100%{
		transform : rotate(-25deg) skew(25deg) translate(0,0);
	}
	
	50%{
		transform : rotate(-25deg) skew(25deg) translate(10px, -10px);
	}
}


.contact-sub {
	margin: 40px 120px;
	width: 300px;
	height: 300px;
}

/* 커서 */
#cursor {
	position: absolute;
	width: 6em;
	height: 6em;
	border-radius: 50%;
	backdrop-filter: invert(100%);
	transition-duration: 150ms;
	transition-timing-function: ease-out;
	animation: cursorAnim .3s infinite alternate;
	visibility: hidden;
	z-index: 9999;
}

#cursor2 {
	width: 1em;
	height: 1em;
	border : 1px solid gray;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	transition-duration: 150ms;
	transition-timing-function: ease-out;
	visibility: hidden;
	z-index: 9999;
}

@keyframes cursorAnim{
    from{
        transform: scale(0.7) translate(-50%, -50%);
    }
    to{
        transform: scale(1) translate(-50%, -50%);
    }
}


.right-menu-bar {
	position: fixed;
	right: 30px;
	top: 50%;
	cursor: pointer;
	z-index: 100;
	transform: translate(-50%, -50%);
	list-style: circle;
}
