/** @format */

body {
  font-family: Arial, Helvetica, sans-serif;


 
}

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 12px 7px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  margin-top:200px;
   
  
}
.login__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  justify-content: space-between;
}
.login__icon {
  width: 20px;
}
.login__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
}
.login__submit__api {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width:300px;
}

.cancelbtn {
  width: 60px;
  height: 30px;
  padding: 5px 7px;
  background-color: black;
  color: white;
  font-size: 12px;
}

button {
  background-color: black;
  color: white;
  padding: 3px 3px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 300px;
  height: 35px;
}

button:hover {
  opacity: 0.8;
}
.login__submit__buttonn {
  background-color: black;
}
.login__submit__api {
  margin: 0 0;
  margin: auto;
  text-align: center;
  width:300px;
}

.login__submit__api  i{
	border: 1px solid black;
}
/* .login__submit__kakao > button {
  color: black;
  background-color: yellow;
  text-align: center;
} */


.login__submit__naver{
  
  width:100%;
   
}
.login__submit__kakao{
	width:300px;
}

.login__submit__remember {
  font-size: 13px;
}
#google__btn{
	border:1px solid grey;
}
#kakao__btn{
	border:1px solid grey;
}
#naver__btn{
	border:1px solid grey;
}
span.psw {
  float: right;
  padding-top: 16px;
}
