@charset "UTF-8";
@font-face{font-family:'Nanum Gothic'; src:url('../font/NanumBarunGothic.ttf')}
@font-face{font-family:'Nanum Gothic Light'; src:url('../font/NanumBarunGothicLight.ttf')}
@font-face{font-family:'Nanum Gothic Bold'; src:url('../font/NanumBarunGothicBold.ttf')}
@font-face{font-family:'Nanum Gothic Ultra Light'; src:url('../font/NanumBarunGothicUltraLight.ttf')}


/*헤더 전체*/
*{
	margin: 0px;
	padding : 0px;
	box-sizing: border-box;
}

header { 
	width: 100%;
	height: 50px;
	position: fixed;
	top : 0;
	z-index: 9999;
}

/* 헤더 */
.wrapper {
	height: 50px;
	display: flex;
	justify-content: space-between;
}

/*페이지 이름*/
.wrapper #header-bar {
	display: flex;
	cursor: pointer;
}

.wrapper #header-bar img{
	width: 50px;
	height: 50px;
	padding : 10px;
	margin-left: 10px;
}

.wrapper #header-bar span{
	display: block;
	font-size: 1.5em;
	margin-left: 10px;
	margin: auto;
	font-weight: bolder;
	font-family:'Nanum Gothic Light';
	letter-spacing: 3px;
}

.wrapper a{
	text-decoration: none;
}


/* 메뉴 */
.header-menu { /*로그인 회원가입 햄버거*/
	height: 100%;
	align-self: flex-end;
	display: flex;
	align-items: center;
}

.header-menu li {
	list-style: none;
	height: 100%;
	display: flex;
	align-items: center;
}

.header-menu .list { /*햄버거 로고*/
	font-size: 40px;
	color: black;
	margin: 5px 20px;
}

.mypage button { /*로그인*/
	background-color: white;
	color: black;
	border : none;
	border-radius: 5px;
	padding: 5px 20px;
	margin : 5px 10px 5px 0px;
	font-family:'Nanum Gothic Light';
}

.mypage button:hover {
	border : none;
	background-color: black;
	color: white;
	font-family:'Nanum Gothic Light';
}

.logout button { /*register*/
	background-color: #b5b5b5;
	color: white;
	border : none;
	border-radius: 5px;
	padding: 5px 15px;
	margin: 5px 10px 5px 0px;
	font-family:'Nanum Gothic Light';
}

.logout button:hover {
	border : none;
	background-color: black;
	color: white;
	font-family:'Nanum Gothic Light';
}


.sidenav { 
	height: 100%; /*메뉴길이*/
	width: 0; /*호버하기전 메뉴너.비*/
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	background-color: white;
	overflow: hidden;
	transition: 0.5s;
	padding-top: 60px;
	z-index: 9999;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	width: 500px;
	transition: 0.3s;
	z-index: 9999;
}

.sidenav p {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	display: block;
	transition: 0.3s;
	text-align: left;
	z-index: 9999;
}

.sidenav a:hover {
	color: red;
}

.sidenav .closebtn { /*x(닫기)아이콘*/
	position: absolute;
	top: 0;
	float: right;
	font-size: 36px;
	margin-left: 300px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
