<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ScheduleMapper">
	<resultMap type="ScheduleDto" id="ScheduleMap">
		<result property ="sche_no" column="SCHE_NO"/>
		<result property ="member_id" column="MEMBER_ID"/>
		<result property ="sche_content" column="SCHE_CONTENT"/>
		<result property ="sche_time" column="SCHE_TIME"/>
		<result property ="sche_regdate" column="SCHE_REGDATE"/>
	</resultMap> <!-- 결과를 연결해주는것: 컬럼값을 프로퍼티에다가(setSeq) 넣어주겠따 -->
 
 	
 	<select id="selectList" parameterType="ScheduleDto" resultMap="ScheduleMap">
		SELECT SCHE_TIME
 		FROM AG_SCHEDULE
		WHERE MEMBER_ID = #{member_id}	
 	</select>
 	<select id ="selectOne" parameterType="String" resultType="ScheduleDto">
 		SELECT SCHE_TIME, SCHE_CONTENT, SCHE_REGDATE
 		FROM AG_SCHEDULE
		WHERE MEMBER_ID = #{member_id}
 	</select>
 	<insert id = "insert" parameterType="Map">
 		INSERT INTO AG_SCHEDULE
 		VALUES(SCHE_NOSEQ.NEXTVAL,#{member_id},#{sche_content},#{sche_time},SYSDATE)
 	</insert>
 
 	
 	
 	<update id = "update" parameterType="ScheduleDto">
 		UPDATE AG_MEMBER
 		SET MEMBER_EMAIL = #{member_email}, MEMBER_ADDR = #{member_addr}
 		WHERE MEMBER_ID = #{member_id}
 	</update>
 	
 	
 	<update id="delete" parameterType="String">
 		UPDATE AG_MEMBER
 		SET MEMBER_ENABLED = 'Y'
 		WHERE MEMBER_ID = #{member_id}
 	</update> 
 	
 		

</mapper>