<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.agenda.qna">
	<resultMap type="QNADto" id="ResultMap">
		<result property="qna_no" column="QNA_NO" />
		<result property="qna_title" column="QNA_TITLE" />
		<result property="qna_content" column="QNA_CONTENT" />
		<result property="qna_regdate" column="QNA_REGDATE" />
		<result property="qna_hit" column="QNA_HIT" />
		<result property="qna_delflag" column="QNA_DELFLAG" />
		<result property="member_id" column="MEMBER_ID" />
	</resultMap>

	<select id="selectList" resultMap="ResultMap">
		SELECT * 
		FROM (
			  SELECT ROWNUM AS rn, A.* 
			  FROM (
					SELECT ROWNUM, QNA_NO, QNA_TITLE, QNA_CONTENT, QNA_REGDATE, QNA_HIT, QNA_DELFLAG, MEMBER_ID 
					FROM AG_QNA A
			<choose>
				<when test="searchOption == 'all'">
					WHERE (member_id like '%'||#{keyword}||'%'
					OR qna_content like '%'||#{keyword}||'%'
					OR qna_title like '%'||#{keyword}||'%')
				</when>
				<otherwise>
					WHERE ${searchOption} like '%'||#{keyword}||'%'
				</otherwise>
			</choose>
			ORDER BY qna_no DESC
					) A
			) 
		WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<select id="listCount" resultType="int">
		SELECT COUNT(*) FROM AG_QNA
		<choose>
				<when test="searchOption == 'all'">
					WHERE (member_id like '%'||#{keyword}||'%'
					OR qna_content like '%'||#{keyword}||'%'
					OR qna_title like '%'||#{keyword}||'%')
				</when>
				<otherwise>
					WHERE ${searchOption} like '%'||#{keyword}||'%'
				</otherwise>
		</choose>
	</select>

	<select id="selectOne" parameterType="int" resultType="QNADto">
		SELECT
		QNA_NO, QNA_TITLE, QNA_CONTENT, QNA_REGDATE, QNA_HIT, QNA_DELFLAG, MEMBER_ID
		FROM AG_QNA
		WHERE QNA_NO = #{QNA_NO}
	</select>


	<insert id="insert" parameterType="QNADto">
		INSERT INTO AG_QNA
		VALUES
		(QNA_NO_SEQ.NEXTVAL, #{qna_title}, #{qna_content}, SYSDATE, 0, 'N',
		null)
	</insert>

	<update id="update" parameterType="QNADto">
		UPDATE AG_QNA
		SET QNA_TITLE =
		#{qna_title}, QNA_CONTENT = #{qna_content}
		WHERE QNA_NO = #{qna_no}
	</update>

	<delete id="delete" parameterType="int">
		UPDATE AG_QNA
		SET QNA_DELFLAG = 'Y'
		WHERE QNA_NO = #{qna_no}
	</delete>
	
</mapper>